@import url("./assets/css/partials/global.css");

/* 01. Header */
header .navbar {
  padding: 1.3rem;
}
header .navbar-brand.logo {
  padding-top: 0;
  padding-bottom: 0;
}
header .navbar-brand.logo img {
  width: auto;
  height: 2.65rem;
  max-width: none;
}
header .navbar .nav-item {
  margin-right: 2px;
  position: relative;
  /* letter-spacing: 0.2px; */
}
header .navbar .nav-item:hover a {
  color: var(--primary-color) !important;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--primary-color);
  font-weight: 700;
}

/* Header Hiring */
.dr-menu-hiring-label {
  color: #FFFFFF;
  background: #0080FF;
}
.dr-menu-label {
  position: absolute;
  top: -8px;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  display: inline-block;
  margin-left: -20px;
  padding: 2px 5px;
  line-height: 13px;
  letter-spacing: .3px;
  font-weight: 500;
  font-size: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: var(--primary-color);
  border-radius: 10px;
}
.dr-menu-label:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 10px;
  bottom: auto;
  right: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-bottom-width: 0;
  border-right-width: 7px;
  border-left-width: 0;
  border-top-color: transparent;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-color: var(--primary-color);
}
/* Hero Section */
.hero-section {
  padding: 60px 0;
}
.hero-content .hero-alert {
  border-radius: 30px;
  background: var(--secondary-color);
}
.hero-content .hero-alert .badge{
  background: var(--primary-color);
}
.hero-content > h1 {
  font-size: 38px;
}
.hero-content > h1 span {
  color: var(--primary-color);
}
.hero-content > p {
  font-size: 20px;
}
/* Service Section */
.service-section {
  background: url("./assets/img/service/service-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
}
.service-heading .badge {
  padding: 10px 15px;
  /* font-size: 12px; */
  border-radius: 30px;
}
.heading {
  padding: 10px 0;
}
.sub-heading {
  font-size: 20px;
}
.single-service {
  margin-bottom: 30px;
}
.single-service .service-btn {
  font-size: 12px;
}

/* Customer-review */
.customer-review {
    padding: 50px 0;
    line-height: 34px;
}
.customer-review .carousel{
    padding-top: 20px;
}
.carousel-item .slider-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.text-alpha {
    color: var(--primary-color) !important;
}
.carousel-control-prev, .carousel-control-next {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    background: var(--primary-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    opacity: 1;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}
ol.carousel-indicators > li {
    background: grey;
}

ol.carousel-indicators > .active {
    background: var(--primary-color);
}
/* Home: Contact section */
.contact-section{
  background: #E5F2FF;
  padding: 56px 0;
}
.contact-section .home-contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* Footer Area */
.footer-area {
  padding-top: 65px;
  padding-bottom: 50px;
}
footer .social-icon {
  display: flex;
  padding-top: 10px;
}
footer .social-icon li {
  margin-right: 15px;
}
.f-heading h6 {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}
.f-col li {
  padding-bottom: 5px;
}
li.f-contact {
  display: flex;
}
li.f-contact i {
  margin-right: 10px;
  margin-top: 5px;
  font-size: 22px;
}
.lift:hover,
.lift:focus {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0.15s ease-in-out;
}
.bottom-footer {
  background-color: #232f3e;
}
