/* DropDown Style */

.badge-alpha-soft {
  color: #8492a6;
  background-color: rgba(0, 128, 255, 0.1);
  color: #0080ff;
}
.badge-alpha-soft[href]:hover,
.badge-alpha-soft[href]:focus {
  color: #8492a6;
  text-decoration: none;
  background-color: rgba(0, 102, 204, 0.1);
}
.badge-alpha-soft[href]:hover,
.badge-alpha-soft[href]:focus {
  color: #ffffff;
  background-color: #0080ff;
}

.badge-beta-soft {
  color: #8492a6;
  background-color: rgba(0, 169, 143, 0.1);
  color: #00a98f;
}
.badge-beta-soft[href]:hover,
.badge-beta-soft[href]:focus {
  color: #8492a6;
  text-decoration: none;
  background-color: rgba(0, 118, 100, 0.1);
}
.badge-beta-soft[href]:hover,
.badge-beta-soft[href]:focus {
  color: #ffffff;
  background-color: #00a98f;
}

.badge-delta-soft {
  color: #8492a6;
  background-color: rgba(255, 173, 10, 0.1);
  color: #ffad0a;
}
.badge-delta-soft[href]:hover,
.badge-delta-soft[href]:focus {
  color: #8492a6;
  text-decoration: none;
  background-color: rgba(214, 142, 0, 0.1);
}
.badge-delta-soft[href]:hover,
.badge-delta-soft[href]:focus {
  color: #ffffff;
  background-color: #ffad0a;
}

.badge-epsilon-soft {
  color: #8492a6;
  background-color: rgba(255, 92, 117, 0.1);
  color: #ff5c75;
}
.badge-epsilon-soft[href]:hover,
.badge-epsilon-soft[href]:focus {
  color: #8492a6;
  text-decoration: none;
  background-color: rgba(255, 41, 74, 0.1);
}
.badge-epsilon-soft[href]:hover,
.badge-epsilon-soft[href]:focus {
  color: #ffffff;
  background-color: #ff5c75;
}

.badge-info-soft {
  color: #8492a6;
  background-color: rgba(23, 162, 184, 0.1);
  color: #17a2b8;
}
.badge-info-soft[href]:hover,
.badge-info-soft[href]:focus {
  color: #8492a6;
  text-decoration: none;
  background-color: rgba(17, 122, 139, 0.1);
}
.badge-info-soft[href]:hover,
.badge-info-soft[href]:focus {
  color: #ffffff;
  background-color: #17a2b8;
}

.badge-gamma-soft {
  color: #8492a6;
  background-color: rgba(171, 71, 188, 0.1);
  color: #ab47bc;
}
.badge-gamma-soft[href]:hover,
.badge-gamma-soft[href]:focus {
  color: #8492a6;
  text-decoration: none;
  background-color: rgba(138, 56, 152, 0.1);
}
.badge-gamma-soft[href]:hover,
.badge-gamma-soft[href]:focus {
  color: #ffffff;
  background-color: #ab47bc;
}

.badge-success-soft {
  color: #8492a6;
  background-color: rgba(40, 167, 69, 0.1);
  color: #28a745;
}
.badge-success-soft[href]:hover,
.badge-success-soft[href]:focus {
  color: #8492a6;
  text-decoration: none;
  background-color: rgba(30, 126, 52, 0.1);
}
.badge-success-soft[href]:hover,
.badge-success-soft[href]:focus {
  color: #ffffff;
  background-color: #28a745;
}

.badge-dark-soft {
  color: #8492a6;
  background-color: rgba(20, 26, 31, 0.1);
  color: #141a1f;
}
.badge-dark-soft[href]:hover,
.badge-dark-soft[href]:focus {
  color: #8492a6;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.badge-dark-soft[href]:hover,
.badge-dark-soft[href]:focus {
  color: #ffffff;
  background-color: #141a1f;
}

header .dr-megamenu {
  padding: 2rem 2rem 1rem 2rem;
  min-width: 800px;
  left: -400px;
}

header .dr-megamenu .dr-mega-menu-icon {
  padding: 0.6rem;
}
header .dr-megamenu .dr-mega-menu-icon .fa,
header .dr-megamenu .dr-mega-menu-icon .lnr {
  font-size: 1.4rem;
}

.dropdown-menu {
  position: absolute;
  top: 99%;
  left: 0;
  z-index: 9999;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #8492a9;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0 solid rgba(31, 45, 61, 0.15);
  border-radius: 0.375rem;
  display: inherit;
}
.dropdown-menu {
  top: 100%;
  left: -100px !important;
  box-shadow: 0 1.5rem 4rem rgba(60, 72, 88, 0.15);
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out all;
  /* opacity: 1;
  visibility: visible; */
}
.link-hover-alpha {
  font-weight: 700;
}


/* Menu hover DropDown */
header .navbar .nav-item:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}


